body {
    height: 100vh;
    margin: 0 0;
}
.animation {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16);
    overflow: hidden;
    will-change: transform;
}
.title {
    text-align: center;
    font-size: 35px;
    color: #860001;
    padding: 5px 0;
    margin: 0 0;
    background-color: #ece9b7;
    font-family: sans-serif;
}
video, iframe {
    width: 100%; 
    height: 100%; 
    border: none; 
    padding: 0;
    margin: 0;
}
.translate-button {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 0%;
    z-index: 999;
}
.translate-button input {
    background-color: #860001;
    color: #FFFFFF;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid #ece9b7;
    font-size: 20px;
    cursor: pointer;
    padding: 0 0;
}
.location {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    flex-direction: column;
    gap: 10px;
}
.location a {
    width: auto;
    font-size: 14px;
    line-height: 14px;
    color: #860001;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ece9b7;
    padding: 5px 5px;
    text-align: center;
    border-radius: 50%;
}
/* Responsive */
@media (max-width: 767px) {
    .title {
        font-size: 12px;
    }
    .translate-button input {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-size: 15px;
    }
    .location a img, .location a svg {
        width: 30px;
        height: 30px;
    }
}